@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// .container {
//   width: 100%;
//   height: 1200px;
//   background: linear-gradient(rgba(0, 0, 0, 0.55), transparent),
//     url("../../../img/price-banner.jpg");
//   background-position: center;
//   background-size: cover;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-around;
// }

// .box {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   justify-content: space-around;
//   min-height: 700px;
//   width: 100%;
// }

// .title {
//   color: #bbb8b8;
//   font-family: Roboto;
//   font-size: 70px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 100%; /* 128px */
//   letter-spacing: 0.9px;
// }

// .imgBox {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: auto;
//   width: 80%;
// }

// .imageStyle {
//   width: 40%;
//   display: block;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// @media (max-width: 1024px) {
//   .title {
//     font-size: 96px;
//   }

//   .imgBox {
//     width: 70%;
//   }

//   .imageStyle {
//     width: 45%;
//   }
// }

// @media (max-width: 768px) {
//   .container {
//     height: auto;
//   }
//   .title {
//     font-size: 52px;
//   }

//   .imgBox {
//     width: 90%;
//     flex-direction: column;
//   }

//   .imageStyle {
//     width: 40%;
//     margin-bottom: 20px;
//   }
// }

// @media (max-width: 480px) {
//   .container {
//     height: 500px;
//   }
//   .box {
//     height: auto;
//     justify-content: flex-start;
//   }
//   .title {
//     font-size: 40px;
//     margin: 0;
//     width: 100%;
//     letter-spacing: 0.9px;
//   }

//   .imgBox {
//     width: 100%;
//     flex-direction: column;
//   }

//   .imageStyle {
//     width: 60%;
//     margin-bottom: 20px;
//     display: flex;
//     margin: 10px;
//   }
// }
.container {
  width: 100%;
  height: 1200px;
  background: linear-gradient(rgba(0, 0, 0, 0.55), transparent),
    url("../../../img/price-banner.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 700px;
  width: 100%;
}

.title {
  color: #e0e0e0;
  font-family: Roboto, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
  margin-bottom: 40px;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
}

.imageStyle {
  width: 40%;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .title {
    font-size: 96px;
  }

  .imgBox {
    width: 70%;
  }

  .imageStyle {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .container {
    height: auto;
  }
  .title {
    font-size: 52px;
  }

  .imgBox {
    width: 90%;
    flex-direction: column;
  }

  .imageStyle {
    width: 40%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    height: 500px;
  }
  .box {
    height: auto;
    justify-content: flex-start;
  }
  .title {
    font-size: 40px;
    margin: 0;
    width: 100%;
    letter-spacing: 0.9px;
  }

  .imgBox {
    width: 100%;
    flex-direction: column;
  }

  .imageStyle {
    width: 60%;
    margin-bottom: 20px;
    display: flex;
    margin: 10px;
  }
}